// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  h3 {
    font-size: 12px;
    font-weight: bold;
  }
  p {
    font-size: 8px;
    font-weight: normal;
  }
}

header {
  .navbar-navigation > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
