// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 55px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  // Customizing the content background color
  --ds-banner-content-background: #{$primary-blue};
  --ds-banner-background-gradient-width: 900px;
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};
}
