<div class="container">
          <h2>About Us </h2>
          <div >
          <img class="home-image" src="assets/images/about1.png" [attr.alt]="'menu.header.image.logo' | translate"/>
          </div>
          <div>
            <div>
              <h5 class="title"> English </h5>
                <p class="more-info-text" >The South African Radio Astronomy Observatory (SARAO), a facility of the National Research Foundation, is responsible for managing all radio astronomy initiatives and facilities in South Africa, including the MeerKAT Radio Telescope in the Karoo, and the Geodesy and VLBI activities at the HartRAO facility. SARAO also coordinates the African Very Long Baseline Interferometry Network (AVN) for the eight SKA partner countries in Africa, as well as South Africa’s contribution to the infrastructure and engineering planning for the Square Kilometre Array Radio Telescope. To maximise the return on South Africa’s investment in radio astronomy, SARAO is managing programmes to create capacity in radio astronomy science and engineering research, and the technical capacity required to support site operations.</p>
            </div>
            <div>
              <h5 class="title" > Afrikaans </h5>
              <p class="more-info-text">
                <p class="more-info-text">Die Suid-Afrikaanse Radio Astronomie Sterrewag (SARAO) bedryf Suid-Afrika se aktiwiteite in die Square Kilometre Array Radioteleskoop, ook bekend as die SKA, in ingenieurswese, wetenskap en konstruksie. SARAO is ‘n Nasionale Fasiliteit wat bedryf word deur die Nasionale Navorsingstigting en inkorporeer radio astronomie instrumente en programme soos die MeerKAT en KAT-7 teleskope in die Karoo, die Hartebeesthoek Radio Astronomie Sterrewag (HartRAO) in Gauteng, die Baie Lang Basislyn Interferometrie program (AVN) in nege Afrika-lande sowel as die verbonde menslike kapitaal ontwikkeling en kommersialisasie ondernemings.</p>
              <p>
            </div>
            <div>
              <h5 class="title">isiNdebele </h5>
              <p class="more-info-text">Indawo yemirhatjho yaboSomkayi beSewula Afrika (i-SARAO) idosa phambili imisebenzi eyenzeka ku-Square Kilometre Array Radio Telescope, eyaziwa ngokuthi yi-SKA, emikhakheni yezobunjiniyere, yezesayensi neyezokwakha. I-SARAO yiNdawo yomBuso elawulwa yi-National Research Foundation begodu ihlanganisa iintlabagelo zemirhatjho yemkayini namahlelo anjenge-MeerKAT ne-KAT-7 telescopes e-Karoo, Indawo yemirhatjho yaboSomkayi ye-Hartebeesthoek (i-HartRAO) e-Gauteng, nehlelo le-South African Very Long Baseline Interferometry (i-AVN) eenarheni ezilithoba ze-Afrika kunye nemisebenzi yezokuthuthukiswa komnotho wabantu namarhwebo.</p>
            </div>
            <div>
              <h5 class="title">Sepedi</h5>
              <p class="more-info-text">Setiši sa Bonepadinaledi ka Radio sa Afrika Borwa (South African Radio Astronomy Observatory [SARAO]) se etile pele mešomo ya Afrika Borwa ka go Thelesekopo ya Radio ya Peakanyo ya Sekwere-kilometara (Square Kilometre Array Radio Telescope), yeo e tsebegago kudu ka leina la SKA, ka mafapheng a boentšinere, saentshe le tša kago. SARAO ke Setheo sa Setšhaba seo se laolwago ke Motheo wa Setšhaba wa Dinyakišišo (National Research Foundation) gomme se akaretša didirišwa le mananeo a bonepadinaledi ka radio a go swana le dithelesekopo tša MeerKAT le KAT-7 go la Karoo, Setiši sa Bonepadinaledi ka Radio sa Hartebeesthoek (Hartebeesthoek Radio Astronomy Observatory [HartRAO]) go la Gauteng, lenaneo la African Very Long Baseline Interferometry (AVN) ka dinageng tše senyane tša Afrika gammogo le maitekelo ao a sepelelanago le tlhabollo ya methopo ya batho le tša kgwebišano.</p>
            </div>
            <div>
              <h5 class="title">Sesotho</h5>
              <p class="more-info-text">Setsi sa Afrika Borwa sa Tebello ya Sepakapaka ka Radio (SARAO) ke pulamadiboho ditshebetsong tsa Afkrika Borwa tsa Square Kilometre Array Radio Telescope, e tsejwang haholo ka hore ke SKA, ho tsa boenjineri, saense le kaho. SARAO ke Setsi sa Naha se laolwang ke Setheo sa Dipatlisiso sa Naha (National Research Foundation) mme e kenyeletsa disebediswa tsa astronomi ya radio le mananeo a jwalo ka ditheleskoupe tsa MeerKAT le KAT-7 tse mane Karoo, Hartebeesthoek Radio Astronomy Observatory (HartRAO) e mane Gauteng, le lenaneo la African Very Long Baseline Interferometry (AVN) le dinaheng tse robong tsa Afrika mmoho le ntshetsopele ya botsebi ba basebetsi e amehang le mehato ya tshebetso e tsamaiswang ka mokgwa wa kgwebo.</p>
            </div>
            <div>
              <h5 class="title">Setswana</h5>
              <p class="more-info-text">South African Radio Astronomy Observatory (SARAO [Tshekatsheko ya Tepo ya Dinaledi ka Radio ya Aforika Borwa]) e goga kwa pele ditiro tse di dirwang mo Square Kilometre Array Radio Telescope ya mo Aforika Borwa, e gantsi e bidiwang SKA, mo go tsa boenjeneri, saense le kago. SARAO ke Setheo sa Bosetšhaba se se laolwang ke Mokgatlho wa Bosetšhaba wa Ditlhotlhomiso mme se akaretsa didiriswa le dithulaganyo tsa tepo ya dinaledi ka radio, didiriswa tse di tshwanang le dithelesekoupu tsa MeerKAT le KAT-7 mo kgaolong ya Karoo, le dithulaganyo tsa Tshekatsheko ya Tepo ya Dinaledi ka Radio tse di kwa Hartebeesthoek (Radio Astronomy Observatory [HartRAO]) tsa mo Gauteng, dithulaganyo tsa African Very Long Baseline Interferometry (AVN) tsa mo dinageng di le robongwe tsa Aforika ga mmogo le maiteko a a amanang le tsone a tokafatso ya kitso le bokgoni jwa badiri le maiteko a kgwebisano.</p>
            </div>
            <div>
              <h5 class="title">SiSwati</h5>
              <p class="more-info-text">I-South African Radio Astronomy Observatory (i-SARAO) ilawula imisebenti yeNingizimu Afrika ku-Square Kilometre Array Radio Telescope, leyatiwa ngekutsi yi-SKA, kutebunjiniyela, kutesayensi nakutekwakha. I-SARAO Isikhungo Savelonkhe lesilawulwa yiNhlangano yaVelonkhe yeTelucwalingo (National Research Foundation) ibuye ifake ekhatsi tisetjentiswa tesifundvo setinkhanyeti netinhlelo letinjengetibukakhashane te- MeerKAT ne-KAT-7 eKharu, ku-Hartebeesthoek Radio Astronomy Observatory (i-HartRAO) e-Gauteng, luhlelo lwe-African Very Long Baseline Interferometry (i-AVN) emaveni ase-Afrika layimfica kanye nemitamo lecondzene nekutfutfukiswa kwelwati jikelele lwebasebenti kanye nekucala kuhwebelana.</p>
            </div>
            <div>
              <h5 class="title">Tsonga</h5>
              <p class="more-info-text">Ndhawu yo Vona Tinyeleti ya Tidyondzo ta swa Tinyeleti ta Muxaka wa Rhadiyo ya Afurika Dzonga (South African Radio Astronomy Observatory [SARAO]) yi rhangela migingiriko ya Afrika Dzonga eka Square Kilometre Array Radio Telescope, leyi tivekaka swinene hi SKA, eka vuinjhiniyere, sayense na vumaki. SARAO i Xitirhisiwa xa Rixaka lexi fambisiwaka hi Nhlangano wa Ndzavisiso wa Rixaka (National Research Foundation) naswona wu katsa switirhisiwa swa muxaka wa rhadiyo wa tidyondzo ta swa tinyeleti na minongonoko ku fana na titheleskopu leti vuriwaka MeerKAT na KAT-7 eKaroo, Hartebeesthoek Radio Astronomy Observatory (HartRAO) eGauteng, nongonoko wa African Very Long Baseline Interferometry (AVN) eka kaye wa matiko ya Afrika, xikan’we na nhluvukiso wa vumunhu na matshalatshala ya swa mabindzu.</p>
            </div>
            <div>
              <h5 class="title">Venda</h5>
              <p class="more-info-text">South African Radio Astronomy Observatory (SARAO) ii ranga phanḓa nyito dzoṱhe dzine dza vha kha Square Kilometre Array Radio Telescope, ine ya ḓivhea nga ḽa SKA, kha zwa vhuinzhiniara, saintsi na vhufhaṱi. SARAO ndi Tshiimiswa tsha Lushaka tshine tsha langwa nga Mutheo wa Ṱhoḓisiso dza Lushaka (National Research Foundation) nahone tshi ṱanganyisa na zwishumiswa zwa asṱironomi ya radio na mbekanyamushumo dzine dza nga MeerKAT na KAT-7 theḽesikoupu ngei Karoo, Hartebeesthoek Radio Astronomy Observatory (HartRAO) ngei Gauteng, Mbekanyamushumo ya African Very Long Baseline Interferometry (AVN) kha mashango a Afurika a ṱahe na kha zwine zwa itwa nga madzangano a mveledziso dza vhathu na zwa mabindu.</p>
            </div>
            <div>
              <h5 class="title">Xhosa</h5>
              <p class="more-info-text">I-South African Radio Astronomy Observatory (SARAO) nguvulindlela kwizinto ezenziwa eMzantsi Afrika kwi-Square Kilometre Array Radio Telescope, eyaziwa ngokuba yi-SKA, kwezobunjineli, kwezenzululwazi nezokwakha. I-SARAO liZiko likaZwelonke elilawulwa yi-National Research Foundation kwaye iquka nezixhobo zokufunda iinkwenkwezi nge-radio neenkqubo ezifana neteleskopu i-MeerKAT ne-KAT-7 eKaroo, i-Hartebeesthoek Radio Astronomy Observatory (HartRAO) eGauteng, nenkqubo ye-African Very Long Baseline Interferometry (AVN) kumazwe alithoba e-Afrika kwakunye nophuhliso lwabasebenzi abangabantu olwayanyaniswa nayo namatiletile ezoshishino.</p>
            </div>
            <div >
              <h5 class="title">Zulu</h5>
              <p class="more-info-text">I-South African Radio Astronomy Observatory (I-SARAO) ihola imisebenzi yeNingizimu Afrika ngokuphathelene ne-Square Kilometre Array Radio Telescope, ngokuvamile eyaziwa ngokuthi i-SKA, kwezobunjiniyela, isayensi nezokwakha. I-SARAO Iyisikhungo Sikazwelonke esilawulwa i-National Research Foundation futhi sihlanganisa amathuluzi nezinhlelo zokuhlolwa kwezinkanyezi ngamagagasi omoya njengezipopolo ze-MeerKAT kanye ne-KAT-7 e-Karoo, i-Hartebeesthoek Radio Astronomy Observatory (I-HartRAO) e-Gauteng, uhlelo lwe-African Very Long Baseline Interferometry (I-AVN) emazweni ayisishiyagalolunye ezwekazini lase-Afrika futhi sihlobene nemizamo yokuthuthukiswa kwamakhono abantu nezohwebo.a</p>
            </div>
          </div>
          <div class="wrapper">
            <div class="column">
              <h5 class="title"> Overview </h5>
                <p class="contact-info-text" >SARAO is leading South Africa’s involvement in the SKA on behalf of Department of Science & Innovation.</p>
                <!-- <p class="contact-info-text"> involvement in the SKA </p> -->
                <!-- <p class="contact-info-text"> on behalf of Department of Science & Innovation. </p> -->
                <!-- <p class="contact-info-text"> Science & Innovation.</p> -->
            </div>
            <div class="column">
              <h5 class="title" >SARAO</h5>
                <p class="contact-info-text">The South African Radio Astronomy Observatory <a href="https://www.sarao.ac.za/about/sarao/">(SARAO)</a> is a national facility managed by the National Research Foundation <a href="https://www.sarao.ac.za/about/nrf/">(NRF)</a> and incorporates all national radio astronomy telescopes and programmes.</p>
                <!-- <p class="contact-info-text">Astronomy Observatory <a href="https://www.sarao.ac.za/about/sarao/">(SARAO)</a> is a</p> -->
                <!-- <p class="contact-info-text">national facility managed by the National Research Foundation</p> -->
                <!-- <p class="contact-info-text">the National Research Foundation</p> -->
                <!-- <p class="contact-info-text"><a href="https://www.sarao.ac.za/about/nrf/">(NRF)</a> and incorporates all national radio astronomy telescopes and programmes.</p> -->
                <!-- <p class="contact-info-text">national radio astronomy</p>
                <p class="contact-info-text">telescopes and programmes.</p> -->
            </div>
            <div class="column">
              <h5 class="title">Contact Us </h5>
              <p class="contact-info-text">Email: <a href="mailto:enquiries@ska.ac.za">enquiries@ska.ac.za</a></p>
              <!-- <p class="contact-info-text">Cape town</p> -->
              <p class="contact-info-text">Tel: +27 (0)21 506 7300</p>
              <p class="contact-info-text">2 Fir street, Black river park,</p>
              <p class="contact-info-text">Observatory (North gate entrance), </p>
              <p class="contact-info-text">Cape Town, South Africa 7925</p>
            </div>
          </div>
    </div>
