:host {
  display: block;
  margin-top: calc(var(--ds-content-spacing) * -1);

  div.background-image-container {
    color: white; //Actually content font colour
    position: relative;

    .background-image > img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 2650px;
      height: 1900px;
      object-fit: cover;
      object-position: top;
    }

    .alignment {
      align-items: center;
      justify-content: center;
      padding-top:140px;
      padding-left: 250px;
      padding-bottom:50px;
    }
    .search-wrapper{
      padding-bottom:400px;
      padding-right: 100px;
    }

    .wrapper {
      padding-top:180px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 100px;
      row-gap: 1em;
      width: 100%;
    }

    .home-image {
      // background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // object-fit: cover;
      // object-position: top;
    }

    .title {
      font-size: 16px;
      font-family: 'open sans', Helvetica, Arial, sans-serif;
      font-weight: normal;
    }

    .more-info-text {
      font-size: 12px;
      font-family: "sans-serif";
      font-weight: normal;
    }

    .container {
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
      height: 100%;

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-content-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-content-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-content-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .jumbotron {
    background-color: transparent;
  }

  a {
    color: var(--ds-home-news-link-color);

    @include hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }
}
